@tailwind base;
@tailwind components;
@tailwind utilities;

/* 注意这里的路径，样式编译之后是在css/style.css中，所以图片路径要相对于css/style.css */
body {
  background-image: url("../images/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 576px) {
  body {
    background-image: url("../images/bg-header-mobile.png");
  }
}
